@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 0;
    padding: 0;
     font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #DAAA50 0%, #732E08 100%) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width: 90%;      
    height: 25px;        
    padding: 5px; 
    border-radius: 5px;       
    font-size: 16px;          
    outline: none;            
    transition: 0.3s;   
    border: none; 
}

button{
    border: none;
    width: 95%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2691E;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}
button:hover {
    background-color: #B3591A;
}

.formulario{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 400px;
    border-radius: 5%;
}

h1{
    font-size: 1.6em;
}
